.session-expiration
  timer(countdown="expirationCountdown", max-time-unit="'minute'", interval="1000")
    p
      | Your session will expire in:
      span  {{minutes}} minutes, and {{sseconds}} second{{secondsS}}.
      |  To continue working, click the "Keep Me Logged In" button.
  button.btn.btn-success(ng-click="continue()") Keep Me Logged In
